In [16]:
import os
from pathlib import Path
import pandas as pd
from IPython.display import display
from dotenv import find_dotenv

In [6]:
os.chdir(Path(find_dotenv()).parent)
print(Path.cwd())

/mnt/d/OneDrive/Career/applications/atomi_smle_2025-04-23/take_home_assignment

In [45]:
from datasets import load_dataset

# Login using e.g. `huggingface-cli login` to access this dataset
interactions = load_dataset("Atomi/XES3G5M_interaction_sequences")

In [ ]:
from datasets import load_dataset

# Login using e.g. `huggingface-cli login` to access this dataset
ds = load_dataset("Atomi/XES3G5M_content_metadata")

question-00000-of-00001.parquet:   0%|          | 0.00/44.0M [00:00<?, ?B/s]

concept-00000-of-00001.parquet:   0%|          | 0.00/6.95M [00:00<?, ?B/s]

Generating question split:   0%|          | 0/7652 [00:00<?, ? examples/s]

Generating concept split:   0%|          | 0/1175 [00:00<?, ? examples/s]

In [18]:
# Login using e.g. `huggingface-cli login` to access this dataset
splits = {'question': 'data/question-00000-of-00001.parquet', 'concept': 'data/concept-00000-of-00001.parquet'}
embeddings = {}
for k, v in splits.items():
    embeddings[k] = pd.read_parquet(f"hf://datasets/Atomi/XES3G5M_content_metadata/{v}")
    embeddings[k].to_parquet(f"data/atomi/embeddings_{k}.parquet")

In [40]:
embeddings["question"]

                                             embeddings
0     [-0.051382116973400005, 0.038179878145456, 0.1...
1     [-0.41981095075607305, -0.44120454788208, 0.18...
2     [-0.07020409405231401, -0.14976723492145502, 0...
3     [0.170141756534576, -0.07487745583057401, 0.62...
4     [-0.5033162832260131, -0.418284833431243, 0.68...
...                                                 ...
7647  [0.30860823392868003, 0.224595859646797, 0.048...
7648  [0.23860782384872403, 0.36139342188835105, -0....
7649  [-0.54637199640274, -0.020202325657010002, 0.5...
7650  [-0.003922562114894001, -0.34366607666015603, ...
7651  [0.17694386839866602, -0.160785257816314, 0.22...

[7652 rows x 1 columns]

In [41]:
embeddings["concept"]

                                             embeddings
0     [-0.639021217823028, -0.39561375975608803, -0....
1     [-0.28875786066055303, -0.21159636974334703, 0...
2     [-0.8079757690429681, -0.182293936610221, 1.14...
3     [-0.064750015735626, 0.297932118177413, 0.0339...
4     [-0.5244317054748531, -0.5898281931877131, 0.3...
...                                                 ...
1170  [-0.16115801036357802, 0.18526136875152502, -0...
1171  [-0.43635183572769104, 0.030767446383833004, 0...
1172  [-0.662904977798461, 0.018530460074543002, 0.1...
1173  [-0.9272071719169611, -0.37795239686965904, 0....
1174  [-0.064415298402309, 0.032001405954360004, 0.2...

[1175 rows x 1 columns]

In [ ]:
embeddings.to_parquet("data/atomi/embeddings.parquet")

In [20]:
splits = {'train': 'data/train-00000-of-00001.parquet', 'test': 'data/test-00000-of-00001.parquet'}
data = {}
for k, v in splits.items():
    data[k] = pd.read_parquet(f"hf://datasets/Atomi/XES3G5M_interaction_sequences/{v}")
    data[k].to_parquet(f"data/atomi/{k}.parquet")

In [21]:
data["train"]

,fold,uid,questions,concepts,responses,timestamps,selectmasks,is_repeat
0,0,11066,"[3751, 3752, 3753, 3754, 1990, 3739, 3740, 374...","[187, 187, 374, 187, 374, 188, 188, 228, 166, ...","[1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, ...","[1595229836000, 1595233013000, 1595233687000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
1,0,11066,"[95, 4294, 4294, 4300, 4300, 4301, 4302, 4308,...","[63, 64, 102, 659, 376, 147, 147, 65, 64, 78, ...","[0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, ...","[1608890160000, 1608892236000, 1608892236000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,0,14482,"[266, 268, 2203, 870, 2316, 2587, 2323, 2588, ...","[9, 139, 140, 9, 496, 232, 231, 231, 146, 145,...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1595896054000, 1595896054000, 1595896054000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, ..."
3,0,14482,"[1280, 1046, 405, 404, 404, 4623, 4622, 4622, ...","[257, 32, 204, 204, 205, 206, 526, 206, 206, 2...","[0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, ...","[1614471945000, 1614471945000, 1614471945000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."
4,0,10532,"[268, 266, 2203, 2588, 2587, 2323, 275, 811, 2...","[139, 9, 140, 231, 232, 231, 30, 30, 62, 65, 6...","[1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, ...","[1595918717000, 1595918717000, 1595918717000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...
33392,4,13281,"[1160, 1161, 2232, 2342, 2343, 2229, 1958, 351...","[166, 166, 168, 359, 265, 203, 168, 184, 176, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1604586260000, 1604586260000, 1604586260000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, ..."
33393,4,13281,"[1303, 1306, 1305, 1305, 1300, 1298, 1299, 239...","[24, 389, 388, 205, 23, 24, 23, 223, 222, 222,...","[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, ...","[1618059571000, 1618059571000, 1618059571000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ..."
33394,4,9822,"[1130, 1129, 1131, 1131, 264, 263, 265, 267, 2...","[366, 365, 66, 365, 9, 139, 140, 141, 9, 139, ...","[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1594460706000, 1594460706000, 1594460706000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
33395,4,9822,"[1193, 1192, 981, 982, 365, 1964, 1965, 1966, ...","[335, 335, 334, 335, 81, 335, 471, 188, 471, 4...","[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1607699449000, 1607699449000, 1607742804000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
33396,4,9822,"[407, 409, 1281, 1283, 415, 416, 418, 418, 417...","[206, 206, 138, 209, 209, 138, 210, 211, 208, ...","[1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, ...","[1615696235000, 1615696235000, 1616215619000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."

In [25]:
data["train"].questions.explode().nunique()

7619

In [23]:
data["train"].fold.value_counts()

2    6697
4    6685
3    6677
0    6669
1    6669
Name: fold, dtype: int64

In [22]:
data["test"]

,fold,uid,questions,concepts,responses,timestamps,selectmasks,is_repeat
0,-1,8572,"[2203, 268, 266, 271, 270, 269, 2204, 274, 277...","[140, 139, 9, 144, 143, 142, 119, 119, 62, 65,...","[1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, ...","[1594547742000, 1594547742000, 1594547742000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
1,-1,179,"[3436, 3437, 3438, 5243, 2335, 292, 293, 297, ...","[155, 155, 155, 55, 55, 155, 155, 55, 117, 307...","[1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, ...","[1599133602000, 1599133602000, 1599133602000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, ..."
2,-1,5664,"[1367, 2504, 983, 4358, 4356, 4356, 1370, 4355...","[187, 188, 187, 335, 188, 471, 335, 188, 188, ...","[1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, ...","[1595219073000, 1595244223000, 1595244223000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,-1,3587,"[268, 266, 267, 270, 271, 269, 1937, 2323, 232...","[139, 9, 141, 143, 144, 142, 232, 231, 232, 30...","[1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, ...","[1597571706000, 1597571706000, 1597571706000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,-1,6711,"[2208, 795, 794, 2333, 2334, 791, 1945, 1138, ...","[155, 304, 303, 155, 155, 155, 155, 155, 155, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1599216384000, 1599290697000, 1599290697000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...
3608,-1,601,"[3293, 3294, 3292, 5373, 5372, 5374, 1130, 329...","[587, 588, 587, 66, 9, 11, 366, 587, 587, 588,...","[1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...","[1594458929000, 1594458929000, 1594458929000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ..."
3609,-1,2540,"[2309, 2313, 2318, 2318, 2328, 2328, 862, 3268...","[365, 142, 231, 232, 497, 488, 223, 144, 144, ...","[1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, ...","[1594446365000, 1594446676000, 1594447133000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3610,-1,14945,"[3421, 3419, 3420, 2202, 1130, 1129, 3263, 231...","[140, 502, 365, 365, 366, 365, 139, 66, 9, 140...","[1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, ...","[1595073081000, 1595073081000, 1595073081000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, ..."
3611,-1,9105,"[1985, 451, 452, 1986, 1987, 1989, 1988, 1990,...","[475, 138, 187, 188, 188, 374, 188, 374, 228, ...","[0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, ...","[1594466792000, 1594467267000, 1594467816000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3612,-1,6075,"[3934, 3935, 3936, 3937, 3938, 3939, 3940, 394...","[243, 5, 243, 243, 243, 2, 2, 244, 244, 367, 3...","[1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, ...","[1599301240000, 1599301448000, 1599301588000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [38]:
len(set(data["train"].questions.explode().unique()).union(set(data["test"].questions.explode().unique())))

7653

In [43]:
col = "concepts"
len(set(data["train"].loc[:, col].explode().unique()).union(set(data["test"].loc[:, col].explode().unique())))

866

In [11]:
interactions

,fold,uid,questions,concepts,responses,timestamps,selectmasks,is_repeat
0,0,11066,"[3751, 3752, 3753, 3754, 1990, 3739, 3740, 374...","[187, 187, 374, 187, 374, 188, 188, 228, 166, ...","[1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, ...","[1595229836000, 1595233013000, 1595233687000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
1,0,11066,"[95, 4294, 4294, 4300, 4300, 4301, 4302, 4308,...","[63, 64, 102, 659, 376, 147, 147, 65, 64, 78, ...","[0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, ...","[1608890160000, 1608892236000, 1608892236000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,0,14482,"[266, 268, 2203, 870, 2316, 2587, 2323, 2588, ...","[9, 139, 140, 9, 496, 232, 231, 231, 146, 145,...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1595896054000, 1595896054000, 1595896054000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, ..."
3,0,14482,"[1280, 1046, 405, 404, 404, 4623, 4622, 4622, ...","[257, 32, 204, 204, 205, 206, 526, 206, 206, 2...","[0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, ...","[1614471945000, 1614471945000, 1614471945000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."
4,0,10532,"[268, 266, 2203, 2588, 2587, 2323, 275, 811, 2...","[139, 9, 140, 231, 232, 231, 30, 30, 62, 65, 6...","[1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, ...","[1595918717000, 1595918717000, 1595918717000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...
33392,4,13281,"[1160, 1161, 2232, 2342, 2343, 2229, 1958, 351...","[166, 166, 168, 359, 265, 203, 168, 184, 176, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1604586260000, 1604586260000, 1604586260000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, ..."
33393,4,13281,"[1303, 1306, 1305, 1305, 1300, 1298, 1299, 239...","[24, 389, 388, 205, 23, 24, 23, 223, 222, 222,...","[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, ...","[1618059571000, 1618059571000, 1618059571000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ..."
33394,4,9822,"[1130, 1129, 1131, 1131, 264, 263, 265, 267, 2...","[366, 365, 66, 365, 9, 139, 140, 141, 9, 139, ...","[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1594460706000, 1594460706000, 1594460706000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
33395,4,9822,"[1193, 1192, 981, 982, 365, 1964, 1965, 1966, ...","[335, 335, 334, 335, 81, 335, 471, 188, 471, 4...","[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1607699449000, 1607699449000, 1607742804000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
33396,4,9822,"[407, 409, 1281, 1283, 415, 416, 418, 418, 417...","[206, 206, 138, 209, 209, 138, 210, 211, 208, ...","[1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, ...","[1615696235000, 1615696235000, 1616215619000, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."

In [12]:
interactions.uid.nunique()

14453

In [13]:
interactions.uid.value_counts()

8854     6
300      5
246      4
14631    4
2759     4
        ..
3628     2
13103    2
7951     2
10954    2
11066    2
Name: uid, Length: 14453, dtype: int64

All sequences are 200 events long.

In [17]:
for col in interactions.loc[:, "questions":]:
    print(col)
    display(interactions.loc[:, col].apply(len).value_counts())

questions

200    33397
Name: questions, dtype: int64

concepts

200    33397
Name: concepts, dtype: int64

responses

200    33397
Name: responses, dtype: int64

timestamps

200    33397
Name: timestamps, dtype: int64

selectmasks

200    33397
Name: selectmasks, dtype: int64

is_repeat

200    33397
Name: is_repeat, dtype: int64